body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
}

:root {
  --dark-1: #202020;
  --dark-2: #404040;
  --dark-3: #606060;
  --dark-4: #808080;
  --dark-text: #E6E6E6;
}

.content {
  width:  100%;
  height: 100%;
  display: flex;
  gap: 2px;
  background-color: var(--dark-2);
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:     center;
  justify-content: center;
  background-color: var(--dark-1);
}

.content-section:has(.game) {
  background-color: yellowgreen;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:    repeat(3, 1fr);
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  padding: 40px;
  grid-gap: 20px;
  box-shadow: 0 0 0 1px red inset;
}

.game .marker {
  background-color: green;
  grid-column: 2;
  grid-row: 2;
}

.main {
  width:  100%;
  height: 100%;
  padding: 25px;
  color: var(--dark-text);
}

.main :first-child {
  margin-top: 0;
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a {
  all: unset;
  box-sizing: border-box;
}