body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
}

:root {
  --dark-1: #202020;
  --dark-2: #404040;
  --dark-3: #606060;
  --dark-4: #808080;
  --dark-text: #E6E6E6;
}

.content {
  width:  100%;
  height: 100%;
  display: flex;
  gap: 2px;
  background-color: var(--dark-3);
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:     center;
  justify-content: center;
  background-color: var(--dark-1);
}

.content-section:has(.game) {
  background-color: yellowgreen;
}

.game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:    repeat(10, 1fr);
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1 / 2;
  padding: 40px;
  /* box-shadow: 0 0 0 1px red inset; */
}

.game .player {
  background-color: green;
  z-index: 1;
}
.game .nav-button {
  background-color: yellow;
  grid-column: 1;
  grid-row: 1;
}

.main {
  width:  100%;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 0 1px red inset;
}

.main :first-child {
  margin-top: 0;
}

.main-item {
  width: 100%;
  padding: 25px;
  line-height: 20px;
  color: var(--dark-text);
  font-family: monospace;
}
.main-item:not(:target) {
  display: none;
}

h2 {
  font-size: inherit;
}
h2::before {
  content: "// ";
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a {
  all: unset;
  box-sizing: border-box;
}