body {
  font-family: 'Segoe UI', sans-serif;
}

:root {
}

.content {
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a {
  all: unset;
  box-sizing: border-box;
}