body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  --1: #202020;
  --2: #404040;
  --3: #606060;
  --4: #808080;
  --icons: #BCBCBC;
  --text: #E6E6E6;
}
body.night {
  --1: #202020;
  --2: #404040;
  --3: #606060;
  --4: #808080;
  --icons: #BCBCBC;
  --text: #E6E6E6;
}

.content {
  display: flex;
  width:  100%;
  height: 100%;
  justify-content: center;
  align-items:     center;
  background-color: yellowgreen;
  overflow: hidden;
}
.content::after {
  content: "";
  position: fixed;
  width:  100%;
  height: 100%;
  backdrop-filter: brightness(50%) sepia(50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-out;
}
body.night .content::after {
  opacity: 1;
}

.toggle {
  all: unset;
  position: fixed;
  top:   0;
  right: 0;
  display: flex;
  width:  32px;
  height: 32px;
  justify-content: center;
  align-items:     center;
  margin: 15px;
  color: white;
  text-shadow: 0 1px 2px black;
  z-index: 1;
  cursor: pointer;
}
.toggle:hover:not(:active) {
  text-shadow: 0 1px 4px black;
}

.toggle > input {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle.theme > .material-symbols-sharp::before {
  content: "light_mode";
}
.toggle.theme:has(:checked) > .material-symbols-sharp::before {
  content: "dark_mode";
}

.main {
  position: absolute;
  width: 600px;
  max-width: 80%;
  padding: 15px;
  outline: none;
  border-radius: 10px;
  background-color: #a0522de6;
  backdrop-filter: blur(4px);
  box-shadow:
    0 0 0 2px #00000080 inset,
    0 0 0 4px sienna inset,
    0 0 0 6px #00000080 inset,
    0 0 8px 4px #00000020;
  color: white;
  text-shadow: 0 0 4px black;
  transition:
    margin 0.2s ease-out,
    opacity 0.2s ease-out;
  z-index: 1;
  overflow: auto;
}
.main:not(:has(:target)) {
  margin-bottom: 15px;
  opacity: 0;
  pointer-events: none;
  transition: none;
}

.main > :not(:target)[id] {
  display: none;
}

.back {
  cursor: pointer;
}
.back:hover,
.back:focus-visible {
  text-shadow: none;
}

.profile {
  display: grid;
  grid-template-areas:
    'name github'
    'picture info'
    'button-l button-r';
  grid-template-columns: 1fr 1fr;

  > * {
    padding: 5px;
    /* box-shadow: 0 0 0 2px red; */
  }

  .name { grid-area: name; }

  .github {
    grid-area: github;
    text-align: end;
  }

  .picture {
    grid-area: picture;
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 15px;
  }

  .info { grid-area: info; }

  .info > :first-child {
    margin-top: 15px;
  }

  .button.l {
    grid-area: button-l;
    margin-right: 15px;
  }
  .button.r {
    grid-area: button-r;
    margin-left: 15px;
  }
  .button {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, cornflowerblue, royalblue);
    box-shadow: 0 0 0 2px #00000080 inset;
    cursor: pointer;
  }
  .button:hover,
  .button:focus-visible {
    background-image: none;
    background-color: cornflowerblue;
  }
  .button:active {
    background-color: royalblue;
  }
}

.game {
  --cols: 5;
  --rows: 5;
  --tile-size: 75px;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-template-rows:    repeat(var(--rows), var(--tile-size));
  height: auto;
  width:  auto;
  
  .invisible {
    display: none;
  }

  * {
    --sheet-cols: 1;
    --sheet-rows: 1;
    width: 100%;
    height: 100%;
    background-size:
      calc(var(--sheet-cols) * 100%)
      calc(var(--sheet-rows) * 100%);
    image-rendering: pixelated;
    text-align: center;
    align-content: center;
    color: var(--text);
    cursor: pointer;
    transition: opacity 0.2s ease-out;
    @starting-style {
      opacity: 0;
    }
  }
  :focus-visible {
    filter:
      brightness(120%)
      drop-shadow(0 0px 8px #FFFFFF);
  }

  .player {
    background-image: url('assets/hero.png');
    --sheet-cols: 3;
    --sheet-rows: 4;
    background-position:
      calc(0 * -100%)
      calc(3 * -100%);
  }
  .chest {
    background-image: url('assets/chest.png');
    --sheet-cols: 1;
    --sheet-rows: 4;
    background-position:
      calc(0 * -100%)
      calc(3 * -100%);
  }
  .sign {
    background-image: url('assets/sign.png');
    --sheet-cols: 1;
    --sheet-rows: 1;
  }
  .npc.t1 {
    background-image: url('assets/npc1.png');
    --sheet-cols: 3;
    --sheet-rows: 4;
    background-position:
      calc(0 * -100%)
      calc(0 * -100%);
  }
  .npc.t2 {
    background-image: url('assets/npc2.png');
    --sheet-cols: 3;
    --sheet-rows: 4;
    background-position:
      calc(0 * -100%)
      calc(0 * -100%);
  }
  .npc.t3 {
    background-image: url('assets/npc3.png');
    --sheet-cols: 3;
    --sheet-rows: 4;
    background-position:
      calc(0 * -100%)
      calc(0 * -100%);
  }
  .npc.t4 {
    background-image: url('assets/clown.png');
    --sheet-cols: 1;
    --sheet-rows: 1;
  }
  .enemy.t1 {
    background-image: url('assets/enemy1.png');
    --sheet-cols: 3;
    --sheet-rows: 4;
    background-position:
      calc(0 * -100%)
      calc(0 * -100%);
  }
  .enemy.t2 {
    background-image: url('assets/enemy2.png');
    --sheet-cols: 3;
    --sheet-rows: 4;
    background-position:
      calc(0 * -100%)
      calc(0 * -100%);
  }
  .enemy.t3 {
    background-image: url('assets/enemy3.png');
    --sheet-cols: 3;
    --sheet-rows: 4;
    background-position:
      calc(0 * -100%)
      calc(0 * -100%);
  }
  .enemy.t4 {
    background-image: url('assets/enemy4.png');
    --sheet-cols: 3;
    --sheet-rows: 4;
    background-position:
      calc(0 * -100%)
      calc(0 * -100%);
  }
}
@keyframes game-to-right {
    0% { margin-left: var(--tile-size); }
  100% { margin-left: 0; }
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a {
  all: unset;
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background-color: Highlight;
  color: HighlightText;
}