body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
}

:root {
  --dark-1: #202020;
  --dark-2: #404040;
  --dark-3: #606060;
  --dark-4: #808080;
  --dark-text: #E6E6E6;
}

.content {
  width:  100%;
  height: 100%;
  display: flex;
  gap: 2px;
  background-color: var(--dark-3);
}
@media screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:     center;
  justify-content: center;
  background-color: var(--dark-1);
  overflow: auto;
}

.content-section:has(.game) {
  background-color: sienna;
}

.game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:    repeat(10, 1fr);
  width: 80%;
  max-width: 350px;
  aspect-ratio: 1 / 2;
  /* padding: 40px; */
}
@media screen and (max-width: 600px) {
  .game {
    width: unset;
    height: 90%;
    aspect-ratio: 1 / 2;
  }
}

.game > * {
  width:  100%;
  height: 100%;
  overflow: hidden;
}
.game .player {
  z-index: 1;
}
.game .nav-item {
  z-index: 0;
}

.game > * > * {
  width:  100%;
  height: 100%;
  object-fit: fill;
  image-rendering: pixelated;
}

.main {
  width:  100%;
  height: 100%;
  overflow: auto;
}

.main :first-child {
  margin-top: 0;
}

.main-item {
  width: 100%;
  padding: 25px;
  line-height: 20px;
  color: var(--dark-text);
  font-family: monospace;
  display: none;
}
.main-item:target {
  display: block;
  animation: main-item-appear 0.3s ease-out;
}
@keyframes main-item-appear {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

h2 {
  font-size: inherit;
}
h2::before {
  content: "// ";
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a {
  all: unset;
  box-sizing: border-box;
}