body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  --1: #202020;
  --2: #404040;
  --3: #606060;
  --4: #808080;
  --icons: #BCBCBC;
  --text: #E6E6E6;
}

.content {
  width:  100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:     center;
  background-color: yellowgreen;
  overflow: hidden;
}

.main {
  position: absolute;
  width: 600px;
  max-width: 80%;
  padding: 15px;
  outline: none;
  border-radius: 15px;
  background-color: #FFFFFFBF;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 8px 4px #00000020;
  transition:
    margin 0.2s ease-out,
    opacity 0.2s ease-out;
}
.main:not(:has(:target)) {
  margin-bottom: 15px;
  opacity: 0;
  pointer-events: none;
  transition: none;
}

.main > * > :first-child {
  margin-top: 0;
}
.main > :not(:target)[id] {
  display: none;
}

.profile {
  
}

.game {
  --cols: 5;
  --rows: 5;
  --tile-size: 75px;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-template-rows:    repeat(var(--rows), var(--tile-size));
  height: auto;
  width:  auto;
}

.game > * {
  --sheet-cols: 1;
  --sheet-rows: 1;
  width: 100%;
  height: 100%;
  background-size:
    calc(var(--sheet-cols) * 100%)
    calc(var(--sheet-rows) * 100%);
  image-rendering: pixelated;
  text-align: center;
  align-content: center;
  color: var(--text);
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  @starting-style {
    opacity: 0;
  }
}
.game > .invisible {
  display: none;
}

.game .player {
  background-image: url("assets/hero.png");
  --sheet-cols: 3;
  --sheet-rows: 4;
  background-position:
    calc(0 * -100%)
    calc(3 * -100%);
}
.game .chest {
  background-image: url("assets/chest.png");
  --sheet-cols: 1;
  --sheet-rows: 4;
  background-position:
    calc(0 * -100%)
    calc(3 * -100%);
}
.game .sign {
  background-image: url("assets/sign.png");
  --sheet-cols: 1;
  --sheet-rows: 1;
}
.game .npc.t1 {
  background-image: url("assets/npc1.png");
  --sheet-cols: 3;
  --sheet-rows: 4;
  background-position:
    calc(0 * -100%)
    calc(0 * -100%);
}
.game .npc.t2 {
  background-image: url("assets/npc2.png");
  --sheet-cols: 3;
  --sheet-rows: 4;
  background-position:
    calc(0 * -100%)
    calc(0 * -100%);
}
.game .npc.t3 {
  background-image: url("assets/npc3.png");
  --sheet-cols: 3;
  --sheet-rows: 4;
  background-position:
    calc(0 * -100%)
    calc(0 * -100%);
}
.game .npc.t4 {
  background-image: url("assets/clown.png");
  --sheet-cols: 1;
  --sheet-rows: 1;
}
.game .enemy {
  background-image: url("assets/enemy1.png");
  --sheet-cols: 3;
  --sheet-rows: 4;
  background-position:
    calc(0 * -100%)
    calc(0 * -100%);
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a {
  all: unset;
  box-sizing: border-box;
}

/* body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  --1: #FFFFFF;
  --2: #E6E6E6;
  --3: #CCCCCC;
  --4: #B6B6B6;
  --icons: #808080;
  --text: #202020;
}
@media (prefers-color-scheme: dark) {
  body {
    --1: #202020;
    --2: #404040;
    --3: #606060;
    --4: #808080;
    --icons: #BCBCBC;
    --text: #E6E6E6;
  }
}

.content {
  width:  100%;
  height: 100%;
  display: flex;
  gap: 2px;
  background-color: var(--3);
}
@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}

.game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:    repeat(10, 1fr);
  width: 80%;
  max-width: 350px;
  aspect-ratio: 1 / 2;
}
@media screen and (max-width: 600px) {
  .game {
    width: unset;
    height: 90%;
    aspect-ratio: 1 / 2;
  }
} */