body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  --1: #FFFFFF;
  --2: #E6E6E6;
  --3: #CCCCCC;
  --4: #B6B6B6;
  --icons: #808080;
  --text: #202020;
}
@media (prefers-color-scheme: dark) {
  body {
    --1: #202020;
    --2: #404040;
    --3: #606060;
    --4: #808080;
    --icons: #BCBCBC;
    --text: #E6E6E6;
  }
}

.content {
  width:  100%;
  height: 100%;
  display: flex;
  gap: 2px;
  background-color: var(--3);
}
@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:     center;
  justify-content: center;
  background-color: var(--1);
  overflow: auto;
}

.content-section:has(.game) {
  background-color: sienna;
}

.game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:    repeat(10, 1fr);
  width: 80%;
  max-width: 350px;
  aspect-ratio: 1 / 2;
}
@media screen and (max-width: 600px) {
  .game {
    width: unset;
    height: 90%;
    aspect-ratio: 1 / 2;
  }
}

.game > * {
  width:  100%;
  height: 100%;
  overflow: hidden;
}
.game .player {
  z-index: 2;
  pointer-events: none;
}
.game .car {
  z-index: 1;
  pointer-events: none;
}
.game .nav-button {
  z-index: 0;
  cursor: pointer;
}
.game .nav-button:hover:not(:active) {
  filter: drop-shadow(0 0 2px white);
}

.game > * > * {
  width:  100%;
  height: 100%;
  object-fit: fill;
  image-rendering: pixelated;
}

.main {
  width:  100%;
  height: 100%;
  overflow: auto;
}

.main :first-child {
  margin-top: 0;
}

.main-item {
  width: 100%;
  padding: 20px;
  line-height: 25px;
  color: var(--text);
  font-family: 'Cascadia Mono', monospace;
  display: none;
}
.main-item:target,
.main:not(:has(.main-item:target)) .main-item:not([id]) {
  display: block;
  animation: main-item-appear 0.3s ease-out;
}
@keyframes main-item-appear {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

h2 {
  font-size: inherit;
}
h2::before {
  content: "// ";
}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

button, a {
  all: unset;
  box-sizing: border-box;
}